<h1>Welcome!</h1>
<p><h3>Buongiornissimo! Qui puoi cercare località.</h3></p>
<%= form_tag("/welcome/results", method: :get) do %>
  <%= label_tag(:city, "Inserisci la città:") %>
  <%= text_field_tag(:city) %>
  <%= submit_tag("Search") %>
<% end %>
